h2
{
	color:#abc120;
	font-size:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
h1
{
	color:yellow;
	text-align: center;
}
div
{
	text-align: justify;
	width:50%;
	
}
